LLM_ENDPOINT=http://127.0.0.1:11434
LLM_MODEL=ollama/gpt-oss:20b
LLM_API_KEY=sk-your-ollama-api-key

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=